/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: rgb(198, 198, 202);
}

/* HEADER */
.header {
    display: inline-block;
    width: 100%;
    line-height: 130px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: bold;
    background-color: white;    
}

.header-logo {
    vertical-align: middle;
    padding-left: 50px;
    width: 130px;
}

/* NAV */
.total-nav {    
    display: flex;
    width: 70%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    margin-top: 53px;
}

.button-task {
    margin-left: 100px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #47ADF1;
  }

.button-section {
    margin-left: 5px;
    border: 1px solid #a1a2a3;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #a1a2a3;
}

/* MAIN */

.total-main {
    color: #40454E;
    width: 70%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-top: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* LIST */
div span {
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.check {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 9px;
    margin-right: 10px;
}

.cross {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 9px;
    margin-right: 10px;
}

.second-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    margin-left: -15px;
}

li {
    list-style: none;
    margin: 20px 0 0 20px;
    }


.total-main div {
    margin-left: 100px;
}

span {
    color: white;
}
.bgr-blu {
    background-color: #45ABEA;
}

.brg-violet {
    background-color: #9C72E4;
}

.brg-sky {
    background-color: #64C0A9;
}

.brg-orange {
    background-color: #F29E33;
}

.brg-pink {
    background-color: #D863A1;   
}

.brg-green {
    background-color: #B0C926;
}